.article-header {
  background-color: #f2f2f2;
  margin: 20px;
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: lighter;
  letter-spacing: 0.05em;
  display: flex;
  box-sizing: border-box;
  flex-direction: column-reverse;
}

.article-header__image {
  align-self: center;
  padding-top: 10px;
}

.article-header__image img {
  display: inline;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.article-header__content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.article-header__content .article-header__content__title {
  color: #103b69;
  align-items: flex-start;
  font-weight: bold;
  font-size: 1.6em;
}

.article-header__date-and-time {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  font-size: 0.8em;
}

.article-header__date-and-time img {
  margin-right: 10px;
}

.article-header__date-and-time .date {
  display: flex;
  margin-right: 30px;
}

.article-header__date-and-time .date p {
  margin: 0;
}

.article-header__date-and-time .time {
  display: flex;
}

.article-header__date-and-time .time p {
  margin: 0;
}

h2 {
  font-size: 1.56em;
  font-weight: normal;
  margin-top: 0;
}

.article-content .description {
  padding: 30px 0px;
  font-size: 1.1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .article-header {
    flex-direction: row;
    justify-content: flex-end;
    margin: 40px 0px;
    height: 300px;
    background-image: linear-gradient(
      to right,
      #f2f2f2,
      #f2f2f2 72%,
      rgb(73, 170, 198) 72%
    );
  }

  .article-header__image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: inherit;
    padding-top: 0px;
  }

  .article-header__image img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-right: 100px;
  }

  .article-header__content {
    width: 36%;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .article-header__content__title {
    font-size: 2em;
  }
}

@media screen and (min-width: 1300px) {
  .article-header__content {
    width: 27%;
  }
}
