{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main>

    <div class="list-description">
        <p>Travailler au sein de Fairness c’est travailler dans <b>une coopérative d’artisans logiciel créant des applications web et mobile responsables et durables. </b> </p>

        <p> Nos produits sont créés par des femmes et des hommes convaincus que des produits numériques de qualité doivent être réalisés avec soin et attention. </p>
            
        <p>C'est pourquoi nous inscrivons dans la démarche <b><a href="https://fr.wikipedia.org/wiki/Software_craftsmanship"> Software Craftmanship</a> </b>  </p>
        
        <p>Rejoindre Fairness c’est aussi rejoindre <b>une entreprise détenue à 100% par ses travailleurs et ses travailleuses (SCOP) </b>. </p>
        <p>Chaque décision importante est prise par ses coopérateurs, sous le principe d’une personne = 1 voix, et <b>l’ensemble des bénéfices réalisés par la société est réparti équitablement </b> entre tous les salariés. </p>

    </div>

    {{ range where .Paginator.Pages "Draft" false }}

    <section>
        <div class="content">
            <h2 id="{{ .File.TranslationBaseName }}"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p>
                {{ .Description }}
            </p>
            <p class="indicators">
                <img src="{{ "image/date.svg" | relURL }}" alt=""> {{ .Date.Format "02/01/2006"  }}
                <img src="{{ "image/location-marker.svg" | relURL }}" alt="" class="read-time">  {{ .Params.location }}
            </p>
        </div>
        <div class="image">
            <a href="{{ .Permalink }}" aria-labelledby="{{ .File.TranslationBaseName }}">
                <picture>
                    <source media="(min-width: 599px)" srcset="/blog/images/{{ .Param "thumbnail" }}">
                    <source media="(max-width: 598px)"
                            srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="
                            sizes="100%">
                    <img src="/blog/images/{{ .Param "thumbnail" }}" alt=""/>
                </picture>
            </a>
        </div>
    </section>

    {{ else }}

    <hr />

    <div class="article-content">
        <p>Merci pour l'intérêt que vous portez à Fairness.</p>
        <p>Dernièrement nous avons beaucoup recruté et nous ne sommes plus en mesure de le faire pour le moment.</p>
        <p>Cette page sera mise à jour quand nous réouvirons les recrutements.</p>
    </div>

    {{end}}

    {{ partial "pagination" . }}

</main>

{{ if isset .Params "gco2e" }}
<div class="blue-impact">
    <div>
        <!-- <a href="{{ .Params.EcoindexLink }}"> -->
            {{ .Params.gCO2e }} <span class="unit">gCO2e</span>
        <!-- </a> -->
    </div>
</div>
{{ end }}

{{ partial "footer.html" . }}
