{{ define "main" }}

<section class="team">

    {{ $pages := .Pages }}

    {{ range $pages}}

        {{ if eq .Params.inTeam true }}

            <div class="onePerson">

                <div class="onePerson__picture">
                    <img src="/team/images/{{ .Params.picture }}" alt="image de profil de {{ .Params.firstname }} {{ .Params.lastname }}" />
                </div>

                <div class="onePerson__description">
                    <div class="name">{{ .Params.firstname }} {{ .Params.lastname }}</div>
                    <div class="userPosition">{{ .Params.position }}</div>
                </div>

                <div class="onePerson__link">

                    {{ if (isset .Params "github") }}
                        <div class="social-network-link">
                            <a href="{{ .Params.github }}"><img src="/image/GitHub.svg"></a>
                        </div>
                    {{end}}

                    {{ if (isset .Params "twitter") }}
                        <div class="social-network-link">
                            <a href="{{ .Params.twitter }}"><img src="/image/Twitter.svg"></a>
                        </div>
                    {{end}}

                    {{ if (isset .Params "mastodon") }}
                        <div class="social-network-link">
                            <a href="{{ .Params.mastodon }}"><img src="/image/Mastodon.svg"></a>
                        </div>
                    {{end}}

                </div>

            </div>

        {{end}}

    {{end}}

</section>

{{end}}
