{{ partial "head.html" . }}

{{ partial "header.html" . }}

<section class="team">

    {{ $pages := .Pages }}

    {{ range $pages}}

        <div class="onePerson">

            <div class="onePerson__picture">
                <img src="/team/images/{{ .Params.picture }}" alt="image de profil de {{ .Params.firstname }} {{ .Params.lastname }}" onmouseover="this.src='/team/images/{{ .Params.altPicture }}'" onmouseout="this.src='/team/images/{{ .Params.picture }}'"/>
            </div>

            <div class="onePerson__description">
                <div class="name">{{ .Params.firstname }} {{ .Params.lastname }}</div>
                <div class="title">{{ .Params.title }}</div>
            </div>

            <div class="onePerson__link">
                <div class="githubAndTwitter">
                    <a href="{{ .Params.github }}"><i class="fab fa-github"></i></a>
                </div>
                <div class="githubAndTwitter">
                    <a href="{{ .Params.twitter }}"><i class="fab fa-twitter"></i></a>
                </div>
            </div>

        </div>

    {{end}}  

</section>

{{ partial "footer.html" . }}