{{ define "main" }}

<div class="container-single-team">
    <div class="left">
        <img src="/team/images/{{ $.Param "picture" }}">

        <div class="presentation">
            <div class="presentation__full-name-and-post">
                <div class="fullname">
                    <h1>{{ $.Params.firstname }} {{ $.Params.lastname }}</h1>
                </div>

                <div class="post">
                    <p>{{ $.Params.position }}</p>
                </div>
            </div>

            <div class="presentation__contact">
                <h3><img class="logo" src="{{ "image/at-solid.svg" | relURL }}" alt="logo at">Email</h3>
                <p>{{ $.Params.email }}</p>

                <h3><img class="logo" src="{{ "image/phone-alt-solid.svg" | relURL }}" alt="logo de téléphone">Téléphone</h3>
                <p>{{ $.Params.phone }}</p>
            </div>
        </div>

    </div>

    <hr>

    <div class="right">
        <div class="exp">
            <h2><img class="logo" src="{{ "image/briefcase-solid.svg" | relURL }}" alt="cartable de travail">Expériences professionnelles</h2>
            {{ range .Params.cv.exp }}
            <div class="one-exp">
                <div class="date">
                    <p>{{.start}}</p>
                    <p>{{.end}}</p>
                </div>

                <div class="details">
                    <h3>{{.position}} - {{.place}}</h3>
                    <p>{{.description}}</p>
                </div>
            </div>
            {{end}}

        </div>
        <hr>
        <div class="formation">
            <h2><img class="logo" src="{{ "image/graduation-cap-solid.svg" | relURL }}" alt="chapeau de graduation">Formations</h2>
            {{ range .Params.cv.formation }}
            <div class="one-formation">
                <div class="date">
                    <p>{{.date}}</p>
                </div>

                <div class="details">
                    <h3>{{.diploma}}</h3>
                    <p class="place">{{.place}}</p>
                    <p>{{.description}}</p>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>

{{end}}
