body {
    background: #fff;
    color: #233344;
}

header .title {
    text-align: center;
    margin: 15px 0 35px 0;
}

main {
    padding: 0 20px;
}

.container_header-post{
    background-image: linear-gradient(to right, #F2F2F2 0%, #F2F2F2 79%, #F2F2F2 79%, #F2F2F2 100%);
}

main .description{
    padding: 30px 0px;
    font-size: 1.3em;
    font-weight: bold;
    display:flex;
    justify-content: center;
}

section .content .indicators img {
    vertical-align: middle;
}

section .content .indicators img.read-time {
    margin-left: 20px;
}

section .content h2 a {
    color: #103b69;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    line-height: 1em;
    font-weight: bold;
    margin-top: 0;
    color: #103b69;
}

h2 {
    font-size: 1.56em;
    font-weight: normal;
    margin-top: 0;
}

footer {
    background-color: #233344;
    color: #fff;
}


footer li a {
    color: #fff;
}

.sitename {
    color: #233344;
}

.banner a {
    text-decoration: none;
}

.article-content {
    font-size: 1.2em;
    line-height: 1.6em;
}

.article-content h2 {
    color: #00a199;
    margin-top: 30px;
}

.article-content a {
    color: #103b69;
}

.article-content li {
    margin-bottom: 20px;
}

.article-content ul.tags li {
    color: #00a199;
    display: inline-table;
    border: 1px solid #00a199;
    border-radius: 6px;
    padding: 0 10px;
}

.article-content blockquote {
    font-size: 1.4em;
    font-style: italic;
}

.article-content img {
    width: 100%;
}

@media screen and (min-width: 668px) {

    .container_header-post{
        background: conic-gradient(at 67% 30%, #F2F2F2 0%, #00a199 30%, #F2F2F2 50%);
        height: 350px;
        margin: 50px 0px;
    }

    .header-post{
        display:flex;
        justify-content: space-between;
        max-width: 970px;
        margin: auto;
    }

    .content{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    section {
        flex-wrap: nowrap;
    }

    section div {
        padding: 0;
    }

    section .content {
        padding: 0px 225px 0px 100px;
        min-height: 300px;
    }

    section .image {
        width: 175px;
        height: 350px;
        position: relative;
        left: -175px;
    }

    section .image picture,
    section .image img {
        border-radius: 50%;
        width: 350px;
    }

    section:nth-child(2n) .content {
        order: 2;
        padding: 50px 100px 0 225px;
    }

    section:nth-child(2n) .image {
        order: 1;
        left: 0;
    }

    .article-content {
        padding: 0 100px;
    }

    .article-content h2 {
        margin-left: -50px;
    }
}

@media screen and (max-width: 667px) {
    h1 {
        font-size: 1.6em;
    }

    .image img {
        display: none;
    }

    h2 {
        font-size: 1.4em;
        line-height: 1em;
        margin-top: 0;
    }

    section .content {
        padding: 10px;
    }
}

/*Pagination*/

.pagination {
    display: flex;
    list-style: none;
    border-radius: .25rem;
    margin: 20px 0;
    padding: 0;
    justify-content: center;
}

.page-link {
    position: relative;
    display: block;
    padding: .75rem 1rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #233344;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.homepage .page-link,
.listing .page-link {
    background-color: #fff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #233344;
    border-color: #007bff;
}

.page-item .page-link{
    text-decoration: none;
}

a[rel=prev], a[rel=next]{
    font-weight: bold;
}

.visible-large-screen{
    display: none;
}

@media screen and (min-width: 668px) {
    .visible-large-screen {
        display: inline;
    }
}
