.main-menu{
    display:none;
}

.main-menu:target{
  display: flex;
  position:fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(70deg, rgb(91, 195, 191), rgb(196, 227, 158));
  z-index: 10;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

.subcontainer{
  width: 100%;
  position: absolute;
  left:0;
  top:0;
  display:flex;
  flex-direction:column;
}

.close-menu{
  text-align:right;
  position:relative;
  right:0;
  left:0;
  width:92%;
}

.close-msg{
  text-decoration: none;
}

.close-msg::after {
  content: "\00D7";
  font-size: 5em;
  color:white;
}

.main-menu .links{
  padding-inline-start: 0!important;
  align-self:center;
}

.main-menu .links li{
  padding: 1em;
  list-style: none;
}

.main-menu .links li a{
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

@media screen and (min-width: 985px) {

  .main-menu:target{
      align-items: flex-start;
  }

  .subcontainer{
    top:30px;
  }

  .close-menu{
    width:970px;
    margin: auto;
  }

  .main-menu .links{
    align-self:flex-start;
  }

  .link {
    display:flex;
    align-items:center;
  }

  .link .link__bar {
    margin-right:30px;
    width:45vw;
    height:1px;
    border-bottom:2px solid white;
    visibility:hidden;
  }

  .link li{
    order: 2;
  }

  .link div{
    order: 1;
  }

  .link li:hover +.link__bar{
    visibility:visible !important;
  }
  
}
