{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main>
    <section>
        <div class="content">
            <h1>{{ .Title }}</h1>
            <p class="indicators">
                <img src="{{ "image/date.svg" | relURL }}" alt=""> {{ .PublishDate.Format "02/01/2006" }}
                <img src="{{ "image/read-time.svg" | relURL }}" alt="" class="read-time"> Temps de lecture : {{ $.Params.readtime }} minutes.
            </p>
            <p>
                {{ .Description }}
            </p>
        </div>
        <div class="image">
            <picture>
                <source media="(min-width: 599px)" srcset="/blog/images/{{ $.Param "thumbnail" }}">
                <source media="(max-width: 598px)"
                        srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="
                        sizes="100%">
                <img src="/blog/images/{{ $.Param "thumbnail" }}" alt="">
            </picture>
        </div>
    </section>
    <div class="article-content">
{{ block "main" . }}

{{end}}
    </div>

    {{ $author := where (.Site.RegularPages.RelatedIndices . "articleAuthor" ) "Type" "team" }}

    {{ range $author }}

        <div class="article-author">
            <div class="presentation">
                <div class="img">
                    <img src="/team/images/{{ .Params.picture }}" alt="Photo de profil de {{ .Params.firstname }} {{ .Params.lastname }}">
                </div>
                <div class="presentation-details">
                    <p class="name">{{ .Params.firstname }} {{ .Params.lastname }}</p>
                    <p class="position">{{ .Params.position }}</p>
                </div>
            </div>
            <div class="social-reseau">
                {{ if (isset .Params "github") }}
                    <a class="githubAndTwitter" href="{{ .Params.github }}"><img src="/image/GitHub.svg" alt=""></a>
                {{end}}

                {{ if (isset .Params "twitter") }}
                    <a class="githubAndTwitter" href="{{ .Params.twitter }}"><img src="/image/Twitter.svg" alt=""></a>
                {{end}}
            </div>
        </div>

    {{ end }}

</main>

{{ if isset .Params "gco2e" }}
    <div class="blue-impact"><div><a href="{{ .Params.EcoindexLink }}">{{ .Params.gCO2e }} <span class="unit">gCO2e</span></a></div></div>
{{ end }}

{{ partial "footer.html" . }}
