{{ partial "head.html" . }}

{{ partial "header.html" . }}
<div class="container_header-post">
    <section class="header-post">
        <div class="content">
            <h1>{{ .Title }}</h1>
            <p class="indicators">
                <img src="{{ "image/date.svg" | relURL }}" alt=""> {{ .PublishDate.Format "02/01/2006" }}
                <img src="{{ "image/read-time.svg" | relURL }}" alt="" class="read-time"> Temps de lecture : {{ $.Params.readtime }} minutes.
            </p>
        </div>
        <div class="image">
            <picture>
                <source media="(min-width: 599px)" srcset="/blog/images/{{ $.Param "thumbnail" }}">
                <source media="(max-width: 598px)"
                        srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="
                        sizes="100%">
                <img src="/blog/images/{{ $.Param "thumbnail" }}" alt="">
            </picture>
        </div>
    </section>
</div>
<main>
    <div class="description">
        <p>
            {{ .Description }}
        </p>
    </div>
    <div class="article-content">
        {{ block "main" . }}

        {{end}}
    </div>
</main>

{{ if isset .Params "gco2e" }}
    <div class="blue-impact"><div><a href="{{ .Params.EcoindexLink }}">{{ .Params.gCO2e }} <span class="unit">gCO2e</span></a></div></div>
{{ end }}

{{ partial "footer.html" . }}
