{{ partial "head.html" . }}
{{ partial "header.html" . }}
<main>
    {{ $pages := .Pages }}
    {{ $pages = .Site.RegularPages }}
    {{ range $pages.ByDate.Reverse}}
    <section>
        <div class="content">
            <h2 id="{{ .File.TranslationBaseName }}"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p class="indicators">
                <img src="{{ "image/date.svg" | relURL }}" alt=""> {{ .PublishDate.Format "02/01/2006"  }}
                <img src="{{ "image/read-time.svg" | relURL }}" alt="" class="read-time"> Temps de lecture : {{ .Params.readtime }} minutes.
            </p>
            <p>
                {{ .Description }}
            </p>
        </div>
        <div class="image">
            <a href="{{ .Permalink }}" aria-labelledby="{{ .File.TranslationBaseName }}">
                <picture>
                    <source media="(min-width: 599px)" srcset="/image_blog/{{ .Param "thumbnail" }}">
                    <source media="(max-width: 598px)"
                            srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="
                            sizes="100%">
                    <img src="/image_blog/{{ .Param "thumbnail" }}" alt=""/>
                </picture>
            </a>
        </div>
    </section>
    {{end}}
</main>
{{ partial "footer.html" . }}

