<body>
<header>
    <section class="banner">
        <div class="logo">
            <a href="/"><img src="{{ "image/fairness_logo.svg" | relURL }}" alt="Fairness"></a>
        </div>
        <div class="concevoir">
            <a href="/">
                <span class="sitename">{{ .Site.Title }}</span><br>
                <span class="tagline">{{ $.Param "tagline" }}</span>
            </a>
        </div>
        <div class="push menu">
            <a href="/blog/">Blog</a>
        </div>
    </section>
</header>