<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <title>{{ .Title }} - Fairness</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="{{ $.Param "author" }}">
    <meta name="description"
          content="{{ .Description }}">
    <meta property="og:description"
          content="{{ .Description }}">
    <meta property="og:title"
          content="{{ .Title }}">
    <meta name="twitter:title"
          content="{{ .Title }}">

    <link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/menu.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/list.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/print.css" | relURL }}" media="print">

    {{ if .IsHome }}
        <link rel="stylesheet" href="{{ "css/index.css" | relURL }}">
    {{else}}
        <link rel="stylesheet" href="{{ "css/blog.css" | relURL }}">
        <link rel="stylesheet" href="{{ "css/single-post.css" | relURL }}">
        <link rel="stylesheet" href="{{ "css/team.css" | relURL }}">
    {{end}}

    <link rel="apple-touch-icon" sizes="57x57" href="{{ "icon/apple-icon-57x57.png" | relURL }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ "icon/apple-icon-60x60.png" | relURL }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "icon/apple-icon-72x72.png" | relURL }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "icon/apple-icon-76x76.png" | relURL }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "icon/apple-icon-114x114.png" | relURL }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ "icon/apple-icon-120x120.png" | relURL }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ "icon/apple-icon-144x144.png" | relURL }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "icon/apple-icon-152x152.png" | relURL }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "icon/apple-icon-180x180.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ "icon/android-icon-192x192.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "icon/favicon-32x32.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ "icon/favicon-96x96.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "icon/favicon-16x16.png" | relURL }}">
    <link rel="manifest" href="{{ "manifest.json" | relURL }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ "icon/ms-icon-144x144.png" | relURL }}">
    <meta name="theme-color" content="#ffffff">
</head>

