<div class="mainMenu none">
    
    <div class="mainMenu__link">
        <div class="link">
            <div class="link__bar"></div>
            <a href=#>Nous contacter</a>
        </div>
        <div class="link">
            <div class="link__bar"></div>
            <a href=#>La coopérative</a>
        </div>
        <div class="link">
            <div class="link__bar"></div>
            <a href=#>L'équipe</a>
        </div>
        <div class="link">
            <div class="link__bar"></div>
            <a href=#>Notre offre</a>
        </div>
        <div class="link">
            <div class="link__bar"></div>
            <a href=#>Nos références</a>
        </div>
        <div class="link">
            <div class="link__bar"></div>
            <a href=#>Blog</a>
        </div>
        <div class="link">
            <div class="link__bar"></div>
            <a href=#>Podcast echo</a>
        </div>
        <div class="link">
            <div class="link__bar"></div>
            <a href=#>Podcast techologie</a>
        </div>
    </div>

</div>
