<head>
    <title>404 - Page non trouvée</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ "css/menu.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/blog.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/404.css" | relURL }}">
</head>
<html>
<body>
    <header>
        <section class="banner">
            <div class="logo">
                <a href="/"><img src="{{ "image/fairness_logo.svg" | relURL }}" alt="Fairness"></a>
            </div>
            <div class="concevoir">
                <a href="/">
                    <span class="sitename">{{ .Site.Title }}</span><br>
                    <span class="tagline">{{ $.Param "tagline" }}</span>
                </a>
            </div>
            <div class="push menu">
                <a href="#menu"><img src="{{ "image/menu-blue.svg" | relURL }}" alt="Menu"></a>
            </div>
            {{ partial "menu.html" . }}
        </section>
    </header>
    <main>
    <section class="not-found-content">
        <div class="not-found-content_content">
            <h1>Page non trouvée</h1>
            <p>
                Désolé, la page que vous cherchez n'existe pas ou plus.
            </p>
        </div>
    </section>
    </main>
    {{ partial "footer.html" . }}
