{{ partial "head.html" . }}

{{ partial "header_home.html" . }}

<main>

    {{ $headless := .Site.GetPage "/home" }}
    {{ $reusablePages := $headless.Resources.Match "environnement*" }}
    {{ range $reusablePages }}
        <section class="environnement section-content">
            <div>
                <h2>{{ .Title }}</h2>
                {{ .Content }}
            </div>
        </section>
    {{ end }}

    {{ $headless := .Site.GetPage "/home" }}
    {{ $reusablePages := $headless.Resources.Match "clients*" }}
    {{ range $reusablePages }}
        <section class="clients section-content">
            <div class="title-col">
                <h2>{{ .Title }}</h2>
            </div>
            <div class="content">
                {{ .Content }}
            </div>
        </section>
    {{ end }}

    {{ $headless := .Site.GetPage "/home" }}
    {{ $reusablePages := $headless.Resources.Match "cooperateurs*" }}
    {{ range $reusablePages }}
        <section class="cooperateur section-content">
            <div class="title-col">
                <h2>{{ .Title }}</h2>
            </div>
            <div class="content">
                {{ .Content }}
            </div>
        </section>
    {{ end }}

    {{ $headless := .Site.GetPage "/home" }}
    {{ $reusablePages := $headless.Resources.Match "utilisateurs*" }}
    {{ range $reusablePages }}
        <section class="utilisateurs section-content">
            <div class="title-col">
                <h2>{{ .Title }}</h2>
            </div>
            <div class="content">
                {{ .Content }}
            </div>
        </section>
    {{ end }}

</main>

<div class="impact"><div><a href="http://www.ecoindex.fr/resultats/?id=48715">1.3 <span class="unit">gCO2e</span></a></div></div>

{{ partial "footer.html" . }}

