{{ partial "head.html" . }}

{{ partial "header_home.html" . }}

<main>

    {{ $headlessHome := .Site.GetPage "/home" }}

    {{ $environnementSection := $headlessHome.Resources.Match "environnement*" }}
    {{ range $environnementSection }}
        <section class="environnement section-content">
            <div>
                <h2>{{ .Title }}</h2>
                {{ .Content }}
            </div>
        </section>
    {{ end }}

    {{ $clientsSection := $headlessHome.Resources.Match "clients*" }}
    {{ range $clientsSection }}
        <section class="clients section-content">
            <div class="title-col">
                <h2>{{ .Title }}</h2>
            </div>
            <div class="content">
                {{ .Content }}
            </div>
        </section>
    {{ end }}

    {{ $cooperateursSection := $headlessHome.Resources.Match "cooperateurs*" }}
    {{ range $cooperateursSection }}
        <section class="cooperateur section-content">
            <div class="title-col">
                <h2>{{ .Title }}</h2>
            </div>
            <div class="content">
                {{ .Content }}
            </div>
        </section>
    {{ end }}

    {{ $usersSection := $headlessHome.Resources.Match "utilisateurs*" }}
    {{ range $usersSection }}
        <section class="utilisateurs section-content">
            <div class="title-col">
                <h2>{{ .Title }}</h2>
            </div>
            <div class="content">
                {{ .Content }}
            </div>
        </section>
    {{ end }}

    <hr>

    {{ $readAndListenSection := $headlessHome.Resources.Match "read-and-listen*" }}
    {{ range $readAndListenSection }}

    <section class="listen-and-read">
        <h2>{{ .Title }}</h2>
        <div class="listen-and-read__parts">
            <div class="blog">
                <h3><img src="image/stylo.png" alt="stylo"/>Sur le blog</h3>

                {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
                {{ range first 1 $pages }}
                    <p><a href="{{.Permalink}}">{{.Title}}</a></p>
                {{end}}

            </div>

            <div class="echo">
                <h3><img src="image/microphone.png" alt="microphone"/>Podcast Echo</h3>
                <p><a href="{{.Params.echoPermalink}}">{{.Params.echoTitle}}</a></p>
            </div>

            <div class="techologie">
                <h3><img src="image/plante.png" alt="plante"/>Techologie</h3>
                <p><a href="{{.Params.techologiePermalink}}">{{.Params.techologieTitle}}</a></p>
            </div>
        </div>
    </section>

    {{end}}

</main>

{{ if isset .Params "gco2e" }}
    <div class="impact"><div><a href="{{ .Params.EcoindexLink }}">{{ .Params.gCO2e }} <span class="unit">gCO2e</span></a></div></div>
{{ end }}

{{ partial "footer.html" . }}
