{{ partial "head.html" . }}

{{ partial "header_home.html" . }}

<main>

    {{ $headlessHome := .Site.GetPage "/home" }}

    {{ $environnementSection := $headlessHome.Resources.Match "environnement*" }}
    {{ range $environnementSection }}
        <section class="environnement section-content">
            <div>
                <h2>{{ .Title }}</h2>
                {{ .Content }}
            </div>
        </section>
    {{ end }}

    {{ $clientsSection := $headlessHome.Resources.Match "clients*" }}
    {{ range $clientsSection }}
        <section class="clients section-content">
            <div class="title-col">
                <h2>{{ .Title }}</h2>
            </div>
            <div class="content">
                {{ .Content }}
            </div>
        </section>
    {{ end }}


    {{ $cooperateursSection := $headlessHome.Resources.Match "cooperateurs*" }}
    {{ range $cooperateursSection }}
        <section class="cooperateur section-content">
            <div class="title-col">
                <h2>{{ .Title }}</h2>
            </div>
            <div class="content">
                {{ .Content }}
            </div>
        </section>
    {{ end }}


    {{ $usersSection := $headlessHome.Resources.Match "utilisateurs*" }}
    {{ range $usersSection }}
        <section class="utilisateurs section-content">
            <div class="title-col">
                <h2>{{ .Title }}</h2>
            </div>
            <div class="content">
                {{ .Content }}
            </div>
        </section>
    {{ end }}

</main>

{{ if isset .Params "gco2e" }}
    <div class="impact"><div><a href="{{ .Params.EcoindexLink }}">{{ .Params.gCO2e }} <span class="unit">gCO2e</span></a></div></div>
{{ end }}

{{ partial "footer.html" . }}
